.DS_Store
node_modules/
dist/


# Editor directories and files
.idea
*.iml								# idea对module 配置信息，infomation of module
.vscode
*.suo
*.sln

# Compiled class file
*.class
*.log

cordova/www/

# Gradle files
.gradle/
build/